@import "../../bower_components/tink-core/dist/tink/functions";
@import "../../bower_components/tink-core/dist/tink/mixins";
@import "../../bower_components/tink-core/dist/tink/variables";

/**
 * ----------------------------------------------------------------
 * Site specific styles
 * ----------------------------------------------------------------
 */

$gray-lightest: $body-bg-alt;

.form-group {
  margin-bottom: rem(9);
}

.card-body-bg-alt {
  background-color: $gray-lightest;
}

.form-inline {
  padding-bottom: rem(7);
  position: relative;

  &-search {
    @include mq($screen-lg) {
      bottom: rem(7);
      position: absolute;
      right: rem(16);
    }
  }

  .datepicker-input-fields {
    .faux-input {
      min-width: 0;
    }
  }

  .checkbox {
    display: inline-block;
    // margin-top: rem(5);
  }
}

label {
  &.label-block {
    display: block;
    margin-top: 1px;
    padding-top: rem(6);

    @include mq($screen-sm) {
      overflow: hidden;
      text-align: right;
      text-overflow: ellipsis;
    }

    &.label-center {
      text-align: center;
    }
  }
}

.absolute-lg {
  &-container {
    > div {
      z-index: 1;
    }
  }

  &-element {
    @include mq($screen-lg) {
      position: absolute;
      z-index: 0 !important;
    }
  }
}

.width-auto {
  width: auto !important;
}
