@import "../../bower_components/tink-core/dist/tink/functions";
@import "../../bower_components/tink-core/dist/tink/mixins";
@import "../../bower_components/tink-core/dist/tink/variables";

/**
 * ----------------------------------------------------------------
 * Site specific styles
 * ----------------------------------------------------------------
 */

.form-group {
  margin-bottom: rem(9);
}

.card-body-bg-alt {
  background-color: #f7f7f7;
}

.bar-search {
  background-color: #f7f7f7;
  border: solid 1px #bbb;
  border-radius: 3px;
}

.form-inline {
  position: relative;

  label {
    display: block;
    margin-top: 1px;
    padding-top: rem(6);

    @include mq($screen-sm) {
      overflow: hidden;
      text-align: right;
      text-overflow: ellipsis;
    }

    &.label-center {
      text-align: center;
    }
  }

  &-search {
    @include mq($screen-lg) {
      bottom: rem(16);
      position: absolute;
      right: rem(16);
    }
  }

  .datepicker-input-fields {
    .faux-input {
      min-width: 0;
    }
  }
}

.absolute-lg {
  &-container {
    > div {
      z-index: 1;
    }
  }

  &-element {
    @include mq($screen-lg) {
      position: absolute;
      z-index: 0 !important;
    }
  }
}
