<div class="container">
  <section>
    <div class="row">
      <div class="col-xs-12">
        <h1>Alle aanvragen</h1>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <section class="panel card tink-bg-gray-lightest">
              <form class="panel-body row">
                <div class="col-xs-12 col-lg-6">
                  <div class="form-group row col-xs-12">
                    <div class="col-xs-4">
                     <label for="select">Toepassingsgebied</label>
                    </div>
                    <div class="select col-xs-8">
                      <select id="toepassingsgebied">
                        <option value="" disabled selected>Selecteer een optie</option>
                        <option>LEZ</option>
                        <option>Optie 2</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row col-xs-12">
                    <div class="col-xs-4">
                     <label for="nummerplaat">Nummerplaat</label>
                    </div>
                    <div class="col-xs-8">
                      <input type="text" id="nummerplaat" placeholder="Geef een nummerplaat in">
                    </div>
                  </div>
                  <div class="form-group row col-xs-12">
                    <div class="col-xs-4">
                     <label for="aanvraagnr">Aanvraagnr</label>
                    </div>
                    <div class="col-xs-8">
                      <input type="text" id="aanvraagnr" placeholder="Geef een aanvraagnummer in">
                    </div>
                  </div>
                  <div class="form-group row col-xs-12">
                    <div class="col-xs-4">
                     <label for="status-aanvraag">Status aanvraag</label>
                    </div>
                    <div class="select col-xs-8">
                      <select id="status-aanvraag">
                        <option value="" disabled selected>Selecteer een optie</option>
                        <option>Optie 1</option>
                        <option>Optie 2</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row col-xs-12">
                    <div class="col-xs-4">
                     <label for="type-aanvraag">Type aanvraag</label>
                    </div>
                    <div class="select col-xs-8">
                      <select id="type-aanvraag">
                        <option value="" disabled selected>Selecteer een optie</option>
                        <option>Optie 1</option>
                        <option>Optie 2</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row col-xs-12">
                    <div class="col-xs-4">
                     <label for="soort-aanvraag">Soort aanvraag</label>
                    </div>
                    <div class="select col-xs-8">
                      <select id="soort-aanvraag">
                        <option value="" disabled selected>Selecteer een optie</option>
                        <option>Optie 1</option>
                        <option>Optie 2</option>
                      </select>
                    </div>
                  </div>
                </div>



                <div class="col-xs-12 col-lg-6">
                  <div class="form-group row col-xs-12">
                    <div class="col-xs-3">
                     Indiening tussen
                    </div>
                    <div class="select col-xs-4">
                      <data-tink-datepicker data-ng-model="selectedDate1"></data-tink-datepicker>
                    </div>
                    <div class="text-center col-xs-1">
                     en
                    </div>
                    <div class="select col-xs-4">
                      <data-tink-datepicker data-ng-model="selectedDate2"></data-tink-datepicker>
                    </div>
                  </div>
                  <div class="form-group row col-xs-12">
                    <div class="col-xs-3">
                     Start looptijd tussen
                    </div>
                    <div class="select col-xs-4">
                      <data-tink-datepicker data-ng-model="selectedDate3"></data-tink-datepicker>
                    </div>
                    <div class="text-center col-xs-1">
                     en
                    </div>
                    <div class="select col-xs-4">
                      <data-tink-datepicker data-ng-model="selectedDate4"></data-tink-datepicker>
                    </div>
                  </div>
                  <div class="form-group row col-xs-12">
                    <div class="col-xs-3">
                     en tussen
                    </div>
                    <div class="select col-xs-4">
                      <tink-timepicker data-ng-model="selectedTime1"></tink-timepicker>
                    </div>
                    <div class="text-center col-xs-1">
                     en
                    </div>
                    <div class="select col-xs-4">
                      <tink-timepicker data-ng-model="selectedTime2"></tink-timepicker>
                    </div>
                  </div>


                  <div class="row col-xs-12">
                    <div class="col-xs-12">
                      <button type="submit" class="btn btn-default pull-right">Zoeken</button>
                    </div>
                  </div>

                </div>
              </form>
            </section>
           </div>
        </div>
        <div class="row">
          <tink-interactive-table tink-checked="boxChecked($data,$checked)" tink-loading="ct.loading" tink-headers="headers" tink-data="data.content" tink-actions="actions" tink-empty-message="het is leeg">
           <table>
              <thead>
                <tr>
                  <th ng-repeat='view in tinkHeaders'>{{ view.alias }}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-click="$parent.$parent.load()" ng-repeat='view in tinkData'>
                  <td>{{ view.firstname | date:'dd/MM/yyyy' }}</td>
                  <td>{{ view.lastname }}</td>
                  <td>{{ view.username }}</td>
                </tr>
              </tbody>
            </table>

            <tink-pagination  tink-current-page="$parent.ct.nums" tink-change="$parent.changed(type,value,next)" tink-total-items="$parent.ct.totalitems" tink-items-per-page="$parent.ct.numpp"></tink-pagination>
          </tink-interactive-table>
        </div>
      </div>
    </div>
  </section>
</div>


<script type="text/javascript">
      scope.data = [
      {
        firstname: 'Jasper',
        lastname: 'Van Proeyen',
        username: '@trianglejuice'
      },
      {
        firstname: 'Tom',
        lastname: 'Wuyts',
        username: '@pxlpanic'
      },
      {
        firstname: 'Kevin',
        lastname: 'De Mulder',
        username: '@clopin'
      },
      {
        firstname: 'Vincent',
        lastname: 'Bouillart',
        username: '@BouillartV'
      }
    ];
</script>

