<div class="container">
  <h1 class="h3">Detailgegevens hotlists</h1>
  <hr>
  <div class="row">
    <section class="col-xs-12">
      <div class="card card-body-bg-alt">
        <form class="card-body form-inline">
          <div class="bar">
            <ul class="bar-left">
              <li class="form-group">
                <label for="toepassingsgebied">Toepassingsgebied</label>
                <div class="select">
                  <select id="toepassingsgebied">
                    <option>Alle</option>
                    <option>LEZ</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </li>
              <li class="form-group">
                <label for="datum-van">Datum van</label>
                <data-tink-datepicker id="datum-van" data-ng-model="selectedDate1"></data-tink-datepicker>
                <label for="datum-tot">tot</label>
                <div class="checkbox">
                  <data-tink-datepicker id="datum-tot" data-ng-model="selectedDate2"></data-tink-datepicker>
                </div>
              </li>
            </ul>
            <ul class="bar-right">
              <li class="form-group"><button type="submit"><i class="fa fa-fw fa-search"></i> Zoeken</button></li>
            </ul>
          </div>
        </form>
      </div>
    </section>

    <section class="col-xs-12 margin-top" data-ng-controller="tableHotlistsCtrl">
      <div class="row">
        <div class="col-xs-12">
          <tink-interactive-table data-tink-checked="boxChecked($data,$checked)" data-tink-loading="ct.loading" data-tink-headers="headers" data-tink-data="data.content" data-tink-empty-message="geen data beschikbaar" data-tink-force-responsive="true">

           <table id="hotlists-overzicht">
              <thead>
                <tr>
                  <th ng-repeat='view in tinkHeaders'>{{ view.alias }}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-click="$parent.$parent.load()" ng-repeat='view in tinkData'>
                  <td>{{ view.datum }}</td>
                  <td>{{ view.wlbl }}</td>
                  <td>{{ view.naam }}</td>
                  <td>{{ view.aangemaaktopbo }}</td>
                  <td>{{ view.recordsactief }}</td>
                  <td>{{ view.recordspassief }}</td>
                  <td>{{ view.aangemaaktopext }}</td>
                </tr>
              </tbody>
            </table>

            <tink-pagination data-tink-pagination-id="hotlists-overzicht" data-tink-current-page="0" data-tink-total-items="15" data-tink-items-per-page="5" data-tink-items-per-page-values="5" data-tink-change="$parent.changed(type,value,next)" ></tink-pagination>

          </tink-interactive-table>
        </div>
      </div>
    </section>
  </div>
</div>
