<div class="container">
  <h1 class="h3">Detailgegevens hotlists</h1>
  <hr>
  <div class="row">
    <section class="col-xs-12">
      <div class="card card-body-bg-alt">
        <form class="card-body form-inline">
          <div class="bar">
            <ul class="bar-left">
              <li class="form-group">
                <label for="nummerplaat">Vanaf nummerplaat</label>
                <input type="text" id="nummerplaat" placeholder="Geef een nummerplaat in" class="width-auto">
              </li>
              <li class="form-group">
                <label for="aangepast">Toon:</label>
                <div class="checkbox">
                  <input type="checkbox" id="aangepast" name="aangepast" value="" checked="">
                  <label for="aangepast">Manueel aangepaste records</label>
                </div>
              </li>
            </ul>
            <ul class="bar-right">
              <li class="form-group"><button type="submit"><i class="fa fa-fw fa-search"></i> Zoeken</button></li>
            </ul>
          </div>
        </form>
      </div>
    </section>

    <section class="col-xs-12 margin-top" data-ng-controller="tableDetailHotlistsCtrl">
      <div class="row">
        <div class="col-xs-12">
          <tink-interactive-table data-tink-checked="boxChecked($data,$checked)" data-tink-loading="ct.loading" data-tink-headers="headers" data-tink-data="data.content" data-tink-actions="actions" data-tink-empty-message="geen data beschikbaar">

           <table id="detail-hotlists-overzicht">
              <thead>
                <tr>
                  <th ng-repeat='view in tinkHeaders'>{{ view.alias }}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-click="$parent.$parent.load()" ng-repeat='view in tinkData'>
                  <td>{{ view.nummerplaat }}</td>
                  <td>{{ view.land }}</td>
                  <td>
                    <div data-ng-switch="view.actief">
                      <span data-ng-switch-when="true"><i class="fa fa-check"></i></span>
                    </div>
                  </td>
                  <td>{{ view.gewijzigdop }}</td>
                  <td>{{ view.gewijzigddoor }}</td>
                  <td>{{ view.reden }}</td>
                </tr>
              </tbody>
            </table>

            <tink-pagination data-tink-pagination-id="detail-hotlists-overzicht" data-tink-current-page="0" data-tink-total-items="15" data-tink-items-per-page="5" data-tink-items-per-page-values="5" data-tink-change="$parent.changed(type,value,next)" ></tink-pagination>

          </tink-interactive-table>
        </div>
      </div>
    </section>
  </div>
</div>
