<aside>
  <div class="nav-aside-section">
    <ul>
      <li>
        <a href="#/alle-aanvragen"><span>Aanvragen</span></a>
        <ul>
          <li><a href="#/alle-aanvragen"><span>Alle aanvragen</span></a></li>
          <li><a href="#/nog-te-behandelen"><span>Nog te behandelen</span></a></li>
        </ul>
      </li>
      <li>
        <a href="#/alle-hotlists"><span>Hotlists</span></a>
        <ul>
          <li><a href="#/alle-hotlists"><span>Alle hotlists</span></a></li>
          <li><a href="#/uitgevoerde-programmas"><span>Uitgevoerde programma's</span></a></li>
        </ul>
      </li>
      <li>
        <a href="#/parameters"><span>Beheer</span></a>
        <ul>
          <li><a href="#/parameters"><span>Parameters</span></a></li>
          <li><a href="#/tarieven"><span>Tarieven</span></a></li>
          <li><a href="#/standaardmails"><span>Standaardmails</span></a></li>
        </ul>
      </li>
    </ul>
  </div>
</aside>